<h1>Welcome to Auto Service!</h1>
<p>
  <mat-toolbar class="example-spacer">
    <button class="btn" routerLink="/auto_service/orders"><b>ORDERS</b></button>
    <button class="btn" routerLink="/auto_service/owners"><b>AUTO OWNERS</b></button>
    <button class="btn" routerLink="/auto_service/autos"><b>AUTOS</b></button>
    <button class="btn" routerLink="/auto_service/duties"><b>DUTIES</b></button>
    <button class="btn" routerLink="/auto_service/products"><b>PRODUCTS</b></button>
    <button class="btn" routerLink="/auto_service/masters"><b>MASTERS</b></button>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
