<label>
  <div class="box">
    <h1 class="title">
      CREATE MASTERS
    </h1>
    <form [formGroup]="masterForm" (ngSubmit)="save()" novalidate>
      <div class="form-group">
        <label class="text">Master id:</label>
        <input type="number" class="input form-control" formControlName="id" placeholder="id" ngModel>
      </div>
      <div>
        <label class="text">Master full name:</label>
        <input type="text" class="input form-control" formControlName="fullName" placeholder="full name" ngModel>
      </div>
      <button class="btn" type="submit">SAVE</button>
    </form>
  </div>
  <div class="box">
    <h1 class="title">
      GET COMPLETED ORDERS
    </h1>
    <form [formGroup]="masterIdForm" (ngSubmit)="getOrder()" novalidate>
      <div class="form-group">
        <label class="text">Worker id:</label>
        <input type="number" class="input form-control" formControlName="id" placeholder="id" ngModel>
      </div>
      <button class="btn" type="submit">GET</button>
    </form>
  </div>
  <div class="box">
    <h1 class="title">
      GET MASTERS SALARY
    </h1>
    <form [formGroup]="salaryForm" (ngSubmit)="getSalary()" novalidate>
      <div class="form-group">
        <label class="text">Master id:</label>
        <input type="number" class="input form-control" formControlName="masterId" placeholder="master id" ngModel>
      </div>
      <div class="form-group">
        <label class="text">Order id:</label>
        <input type="number" class="input form-control" formControlName="orderId" placeholder="order id" ngModel>
      </div>
      <div>
        <label class="text">SALARY:</label>
        <input type="number" class="show" [value]="salary" readonly>
      </div>
      <button class="btn" type="submit">GET</button>
    </form>
  </div>
  <div class="item" *ngFor="let order of orders">
    id:{{order.id}}<br>
    autoId:{{order.autoId}}<br>
    description:{{order.description}}<br>
    acceptanceDate:{{order.acceptanceDate}}<br>
    finishedDate:{{order.finishedDate}}
  </div>
  <div class="item" *ngFor="let master of masters">
    id:{{master.id}}<br>
    fullName:{{master.fullName}}<br>
  </div>
</label>
